<div class="container">
  <div class="movie-search-filter">
    <form
      (ngSubmit)="store.setSearch(searchControl.value ?? ''); store.setPage(1); store.fetchMovies()"
    >
      <label for="search">
        Search:
        <input
          #searchInput
          id="search"
          name="search"
          type="text"
          [formControl]="searchControl"
          placeholder="Search..."
          autocomplete="on"
        />
      </label>

      <div class="genres-list">
        <span>Genres:</span>
        @for (g of store.genres(); track g.id) {
          <label animate.enter="checkbox-enter" [style.animationDelay]="$index * 50 + 'ms'">
            <input
              type="checkbox"
              id="genre-{{ g.id }}"
              [checked]="store.filters().genres.includes(g.id)"
              (change)="store.toggleGenre(g.id, $event.target.checked)"
            />
            {{ g.name }}
          </label>
        }
      </div>

      <label for="year">
        Year:
        <input
          id="year"
          name="year"
          type="number"
          placeholder="Year"
          autocomplete="on"
          [ngModel]="store.filters().year"
          (ngModelChange)="store.setYear($event)"
        />
      </label>

      <label for="language">
        Language:
        <select
          id="language"
          name="language"
          autocomplete="on"
          [ngModel]="store.filters().language"
          (ngModelChange)="store.setLanguage($event)"
        >
          <option [ngValue]="null">All</option>
          @for (lang of store.languages(); track lang.iso_639_1) {
            <option [ngValue]="lang.iso_639_1">{{ lang.english_name }}</option>
          }
        </select>
      </label>

      <label for="country">
        Country:
        <select
          id="country"
          name="country"
          autocomplete="on"
          [ngModel]="store.filters().country"
          (ngModelChange)="store.setCountry($event)"
        >
          <option [ngValue]="null">All</option>
          @for (country of store.countries(); track country.iso_3166_1) {
            <option [value]="country.iso_3166_1">{{ country.english_name }}</option>
          }
        </select>
      </label>

      <div>Rating</div>
      <div class="rating">
        <label for="ratingMin">
          Min:
          <input
            id="ratingMin"
            name="ratingMin"
            type="number"
            min="0"
            max="10"
            step="0.1"
            placeholder="0–10"
            [ngModel]="store.filters().ratingMin"
            (ngModelChange)="store.setRatingMin($event)"
          />
        </label>

        <label for="ratingMax">
          Max:
          <input
            id="ratingMax"
            name="ratingMax"
            type="number"
            min="0"
            max="10"
            step="0.1"
            placeholder="0–10"
            [ngModel]="store.filters().ratingMax"
            (ngModelChange)="store.setRatingMax($event)"
          />
        </label>
      </div>

      <button type="submit" [disabled]="!store.canSearch()">Search</button>
      <button [disabled]="!store.canSearch()" (click)="store.resetFilters()">Reset</button>
    </form>
  </div>

  <section class="movie-list">
    @if (store.loading()) {
      <!-- <app-spinner></app-spinner> -->
    } @else if (store.error()) {
      <div class="error">{{ store.error() }}</div>
    } @else if (store.movies().length === 0) {
      <div class="empty-state">
        <p>No movies found for your search/filter combination.</p>
        <p>Try changing your filters or search query.</p>
      </div>
    } @else {
      @for (movie of store.movies(); track $index) {
        <app-slider-card [data]="movie" class="movie-card"></app-slider-card>
      }
    }
  </section>
</div>

@if (store.totalPages() > 1) {
  <div class="pagination">
    <button
      [disabled]="!store.canGoBack()"
      (click)="store.setPage(store.page() - 1); store.fetchMovies()"
    >
      ← Back
    </button>

    <span>Page {{ store.page() }} из {{ store.totalPages() }}</span>

    <button
      [disabled]="!store.canPaginate()"
      (click)="store.setPage(store.page() + 1); store.fetchMovies()"
    >
      Forward →
    </button>
  </div>
}
