<section
  class="trailers"
  [style.backgroundImage]="backgroundUrl() ? 'url(' + backgroundUrl() + ')' : ''"
>
  <div class="trailers__header">
    <h2>Latest Trailers</h2>
    <div class="category-toggle toggle-trailers">
      @for (category of categories(); track $index) {
        <button
          class="trailer-btn"
          [class.active]="selectedCategory() === category.value"
          (click)="switchCategory(category.value)"
        >
          <span>{{ category.label | titlecase }}</span>
        </button>
      } @empty {
        <div class="category-toggle toggle-trailers">There is no categories</div>
      }
    </div>
  </div>

  <div class="slider">
    <div class="slider-track">
      @for (movie of selectedTrailers(); track movie.id) {
        @if (movie.trailerKey) {
          <app-trailer-card [data]="movie" (trailerClick)="openTrailer($event)" />
        }
      } @empty {
        <div>The is no trailers on your request</div>
      }
    </div>
  </div>
</section>
