@use '../../../../shared/styles/colors' as colors;

.tabs__container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  box-shadow: inset 0 0 8px colors.$dark-grey-color;
  padding: 1.5rem 1rem;
  border-radius: 10px;

  .tabs-btn {
    padding: 5px 8px;
    background: transparent;
    border-radius: 10px;
    border: 1px solid colors.$dark-color;
    font-size: 1.2rem;
    cursor: pointer;

    &.active {
      background: #ddd;
    }
  }
}
