<header class="header">
  <div class="logo">
    <a routerLink="/home">
      <img src="logo.svg" alt="move-app-logo" />
    </a>
  </div>

  @if (isMobile()) {
    <button (click)="menuService.toggleMenu()">
      <img src="./menu.png" alt="menu burger" />
    </button>
    @if (menuService.showVerticalMenu) {
      <app-menu class="vertical-menu" />
    }
  } @else {
    <app-menu />
  }

  <div class="auth">
    <a routerLink="/auth/signup">
      @if (isMobile()) {
        <app-auth-icon icon="signup" />
      } @else {
        Register
      }
    </a>
    <a routerLink="/auth/login">
      @if (isMobile()) {
        <app-auth-icon icon="login" />
      } @else {
        Login
      }
    </a>
  </div>
</header>
