@use 'app/shared/styles/colors';

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
  padding: 20px;
  height: 100vh;
  background: colors.$page-background;
  color: colors.$page-color;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 400px;
  width: 100%;

  &__avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 128px;
    height: 128px;
    border-radius: 50%;
    background: colors.$page-title-background;
    font-size: 64px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    max-width: 200px;
    font-size: 20px;

    &-row {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
    }

    &-title {
      color: gray;
    }
  }

  &__control {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;

    &-toggle {
      position: relative;
      display: flex;
      align-items: center;
      background-color: transparent;
      border: none;
      cursor: pointer;

      input {
        position: absolute;
        width: 0;
        height: 0;
        appearance: none;
        border: none;
      }

      &::before,
      &::after {
        position: absolute;
        content: '';
        cursor: pointer;
      }

      &::before {
        display: block;
        height: 6px;
        width: 24px;
        border: 1px solid white;
        background-color: rgb(3, 37, 65);
        border-radius: 2px;
        box-sizing: border-box;
      }

      &::after {
        display: block;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: colors.$page-title-background;
        transform: translateX(-1px);
        transition: transform 0.3s ease-in-out;
      }
      &:hover::after {
        box-shadow: 0 0 2px rgba(255, 255, 255, 0.8);
      }

      &:has(input:checked)::after {
        transform: translateX(calc(100% + 1px));
      }
    }
  }
}

.favourites {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;

  &__title {
    font-size: 18px;
    color: gray;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
  }
}
