@if (user(); as user) {
  <div class="user">
    <span class="user__avatar">{{ userInitials() }}</span>
    <div class="user__info">
      <div class="user__info-row">
        <span class="user__info-title">First name:</span>
        <span class="user__info-value">{{ user.firstName }}</span>
      </div>
      <div class="user__info-row">
        <span class="user__info-title">Last name:</span>
        <span class="user__info-value">{{ user.lastName }}</span>
      </div>
      <div class="user__info-row">
        <span class="user__info-title">Favourites movies:</span>
        <span class="user__info-value">{{ favouritesMoviesCount() }}</span>
      </div>
      <div class="user__info-row">
        <span class="user__info-title">Favourites persons:</span>
        <span class="user__info-value">{{ favouritesPersonsCount() }}</span>
      </div>
    </div>
    <div class="user__control">
      <label for="change-password" class="user__control-title">Change password</label>
      <button class="user__control-toggle" (click)="toggleChangePassword()">
        <input type="checkbox" id="change-password" [checked]="changePassword()" />
      </button>
    </div>
  </div>
  @if (changePassword()) {
    <app-update-password-form (closeChangePassword)="toggleChangePassword()" />
  }
} @else {
  {{ errorMessage() }}
}
