<nav class="nav">
  <ul>
    @for (item of menuService.items; track $index; let index = $index) {
      <li appMenuHoverDirective [index]="index" [submenu]="item.submenu ?? undefined">
        <a
          routerLink="{{ item.route }}"
          routerLinkActive="active"
          (click)="menuService.showVerticalMenu = false"
          >{{ item.text }}</a
        >
        @if (
          item.submenu &&
          menuService.hoveredIndex() === index &&
          (menuService.mouseInItem() || menuService.mouseInPopup())
        ) {
          <app-sub-menu
            [menu]="item.submenu"
            [parentRoute]="item.route"
            [class]="menuService.showVerticalMenu ? 'vertical-menu' : ''"
            (pointerenter)="menuService.mouseInPopup.set(true)"
            (pointerleave)="menuService.mouseInPopup.set(false)"
            (click)="onNavigate()"
            (keydown.escape)="onNavigate()"
          ></app-sub-menu>
        }
      </li>
    }
  </ul>
</nav>
