@use 'app/shared/styles/form';
@use 'app/shared/styles/colors';

.change-password {
  max-width: 300px;
  width: 100%;
}

.submit-successful {
  margin: 0 auto;
  color: colors.$validation-successful-color;
}
