@use 'app/shared/styles/form';
@use 'app/shared/styles/colors';

.change-password {
  max-width: 300px;
  width: 100%;
  border: none;
  box-shadow: 0 0 2px 1px rgba(255, 255, 255, 0.75);
  color: white;

  .password-visibility {
    color: white;
  }

  input {
    border-color: white;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
  }

  .form-submit {
    background: colors.$nf-link-background;
    color: white;

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    &:not(:disabled):hover {
      background: colors.$nf-link-background-hover;
    }
  }
}

.submit-successful {
  margin: 0 auto;
  color: green;
}
