<div class="page-container">
  <h1 class="page-title">Favourites Lists</h1>
  <section class="favourites">
    @for (fav of favourites(); track fav.id) {
      <div class="favourites-list">
        <h2 class="favourites-list__title">{{ fav.label }} ({{ fav.ids.length }})</h2>
        <div class="favourites-list__cards">
          @for (item of fav.items; track item.id) {
            <div class="card-wrapper">
              <button
                class="button-delete"
                type="button"
                (click)="deleteFromFavourites(fav.id, item)"
              >
                &#215;
              </button>
              <app-slider-card [data]="item" />
            </div>
          }
        </div>
      </div>
    }
  </section>
</div>
