@use 'app/shared/styles/colors' as colors;

.favourites-menu {
  position: relative;

  &__icon {
    background-color: transparent;
    border: none;
    color: colors.$page-color;
  }

  &__overlay {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 10px;
    z-index: 10;
  }

  &__content {
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: colors.$extra-light-grey-color;
    border-radius: 10px;
  }

  &__title {
    align-self: center;
    font-size: 18px;
    color: colors.$dark-color;
  }

  &__list {
    display: flex;
    flex-direction: column;
    list-style: none;
  }

  &__item {
    padding: 8px;
    display: flex;
    min-width: 100px;
    transition: background-color 0.3s;

    &-checked {
      min-width: 24px;
    }

    &:not(:last-child) {
      border-bottom: 1px solid colors.$dark-color;
    }

    &:hover {
      background-color: rgba(colors.$middle-grey-color, 0.5);
    }
  }

  &__button {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: transparent;
    border: none;
    color: colors.$dark-color;
    font-size: 14px;
  }
}
