//form
$form-box-shadow: 0 0 2px 1px rgba(255, 255, 255, 0.75);
$input-color: #fff;
$input-border-color: #fff;
$input-border-color-hover: rgba($input-border-color, 0.5);
$input-background: rgba(255, 255, 255, 0.1);
$input-outline-color: rgba($input-border-color, 0.75);
$input-password-icon: #fff;
$submit-button-background-color: skyblue;
$submit-button-background-color-disabled: rgba($submit-button-background-color, 0.3);
$submit-button-background-color-hover: rgba($submit-button-background-color, 0.8);
$validation-error-color: red;
$validation-successful-color: green;

//auth-links
$link-color: #01b4e4;
$link-color-hover: rgba($link-color, 0.8);
$link-color-active: #90cea1;

// home

$dark-color: #000;
$light-color: #fff;
$middle-grey-color: #878686;
$light-grey-color: #f1f1f1;
$toggle-trailers-border-color: #1ed5a9;
$accent-gradient: linear-gradient(to right, #c0fecf, #1ed5a9);
$trailers-background-gradient: linear-gradient(
  to right,
  rgba(50, 152, 235, 0.75) 0%,
  rgba(4, 48, 84, 0.75) 100%
);

//common
$page-background: linear-gradient(to right, #1c1c1c, #2c2c2c);
$page-color: #fff;
$page-title-background: linear-gradient(to right, #01b4e4, #90cea1);
$page-link-color: #fff;
$page-link-background: #01b4e4;
$page-link-background-hover: #90cea1;
