<section class="page__wrapper">
  <h1>Popular</h1>
  <div class="content__wrapper">
    @if (isGenresLoading() || isMoviesLoading()) {
      <div class="spinner-wrapper">
        <app-spinner />
      </div>
    } @else {
      @if (hasGenresError()) {
        <p>Failed to load genres</p>
      }

      @if (!isGenresLoading() && !hasGenresError()) {
        <app-genres-tabs
          [tabs]="genres()"
          class="genres__list"
          [tabSelected]="selectedGenre()"
          (genreSelected)="genreSelected($event)"
        />
      }

      @if (hasMoviesError()) {
        <p>Failed to load movies</p>
      }
      @if (!isMoviesLoading() && !hasMoviesError()) {
        <div class="cards__list">
          @for (movie of movies(); track movie.id) {
            <app-slider-card [data]="movie" />
          }
        </div>
      }
    }
  </div>
</section>
