<section class="page__wrapper">
  <h1>Popular</h1>
  <div class="content__wrapper">
    @if (isGenresLoading()) {
      <img [src]="spinnerPath" alt="Loading genres..." />
    }

    @if (hasGenresError()) {
      <p>Failed to load genres</p>
    }

    @if (!isGenresLoading() && !hasGenresError()) {
      <app-genres-tabs
        [tabs]="genres()"
        class="genres__list"
        [tabSelected]="selectedGenre()"
        (genreSelected)="genreSelected($event)"
      />
    }

    @if (isMoviesLoading()) {
      <img [src]="spinnerPath" alt="Loading movies..." />
    }

    @if (hasMoviesError()) {
      <p>Failed to load movies</p>
    } @else {
      <div class="cards__wrapper">
        <div class="cards__list">
          @for (movie of movies(); track movie.id) {
            <app-slider-card [data]="movie" />
          }
        </div>

        @if (!lazyScrollEnabled()) {
          <button class="load-more-btn" (click)="enableLazyScroll()" type="button">
            Load More
          </button>
        }
        @if (lazyScrollEnabled()) {
          <div #scrollAnchor style="height: 1px; scroll-margin-top: 500px"></div>
        }
      </div>
    }
  </div>
</section>
