.spinner-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.cards__container {
  display: flex;
  flex-direction: column;
}

.cards__load-more {
  align-self: center;
}
