@use '../../shared/styles/colors' as colors;

section {
  padding: 10px 20px;
  padding-top: 30px;
  box-sizing: border-box;

  &.trending {
    background-image: url('../../assets/trending-bg.svg');
    background-position: bottom center;
    background-size: 200% 60%;
    background-repeat: no-repeat;
  }

  .slider {
    overflow-x: auto;
    white-space: nowrap;
    position: relative;
    scrollbar-width: thin;
    scrollbar-color: colors.$middle-grey-color colors.$light-grey-color;
    min-height: 325px;
  }
  .slider::-webkit-scrollbar {
    height: 2.5rem;
  }

  .slider::-webkit-scrollbar-thumb {
    background: colors.$middle-grey-color;
    border-radius: 5px;
  }

  .slider::-webkit-scrollbar-track {
    background: colors.$light-grey-color;
  }

  .slider-track {
    display: flex;
    gap: 15px;
    padding-block-end: 1rem;
    min-height: 100px;

    .error-message,
    .empty-message {
      color: colors.$dark-color;
      margin: auto;
    }

    .spinner-wrapper {
      margin: auto;

      .spinner {
        width: 56px;
        height: 56px;
      }
    }
    &.trailers-track {
      .error-message,
      .empty-message {
        color: colors.$light-color;
      }
    }
  }

  .popular__header,
  .trending__header,
  .trailers__header,
  .free-to-watch__header {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 20px;
  }

  .popular__header {
    margin-top: 20px;
  }
}

.category-toggle {
  display: flex;
  border: 2px solid colors.$dark-color;
  border-radius: 25px;

  &.toggle-trailers {
    border: 2px solid colors.$toggle-trailers-border-color;
  }

  button {
    background-color: transparent;
    border: none;
    font-weight: bold;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    border-radius: 25px;
    transition: all 0.5s ease-out;

    &.trailer-btn {
      color: colors.$light-color;
      transition: all 0.5s ease-out;
    }

    &.active {
      background-color: colors.$dark-color;

      .gradient-text {
        background-image: colors.$accent-gradient;
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}
