* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

::view-transition-old(page),
::view-transition-new(page) {
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
}

/* Исчезновение старого компонента */
::view-transition-old(page) {
  animation-name: fade-out;
}

/* Появление нового компонента */
::view-transition-new(page) {
  animation-name: fade-in;
}

/* Кадры анимации */
@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
